<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나 마트에 있어.. 나를 찾아줘</title>
    <link rel="stylesheet" href="../css/result.css">
    <style>
        @font-face {
        font-family: 'MaplestoryOTFBold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
        * {
            font-family: MaplestoryOTFBold;
        }
        body{
            vertical-align: center;
            align-content: center;
            background-image: url('../back/bgd.jpg');
        }
        .result_background{
            background-image: url('../back/content_back.jpg');
            width: 50%;
            height: 1000px;
            margin-left: 25%;
            margin-right: 25%;
        }
        .resultImagePage{
            width: 80%;
            padding: 2%;
            margin-left: 10%;
            margin-right: 10%;
            text-align: center;
            background-color: white;
        }
        .result_title{
            color: #000;
            font-size: 30px;
        }
    </style>
</head>
<body>

    <div class="result_background">
        <div class="resultImagePage">

            <% if(result == 1) { %>
                <h1 class="result_title">라면</h1>
                <img src="../image/result_image/라면과김밥.JPG">
                <p class="result_text">
                    라면처럼 어디에든 어울리는 당신! 적응력이 정말 강한 사람이군요. 
                    강한 적응력 덕에 다른 사람들과도 잘 어울리고, 모든 일에 최선을 다하고자 하는 모습이 좋아요. 
                    힘든 일이 있으면 친구들한테 조언을 듣고자 하는 모습 또한 이런 적응력에서 나온 것이겠지요?
                </p>
            <% } else if (result == 2 ) { %>
                <h1 class="result_title">생수</h1>
                <img src="../image/result_image/물.JPG">
                <p class="result_text">
                    속이 깊고 투명한 사람이군요. 
                    내성적인 경향이 있어서 깊은 친구를 사귀기에 참 좋은 성격인 것 같아요. 
                    아마도 당신의 친구들 또한 당신에게 위로받고, 당신의 깊은 속에 매료되었을 거에요. 
                </p>            
            <% } else if (result == 3 ) { %>
                <h1 class="result_title">휴지</h1>
                <img src="../image/result_image/휴지.JPG">
                <p class="result_text">
                    가정적인 당신! 당신은 휴지 같이 가족에게 없어서는 안 될 존재에요. 
                    그것은 당신이 가족을 소중하게 생각하고 믿기 때문이겠죠. 
                    때문에 힘든 일을 가족에게 잘 털어놓는 것 같아요. 
                    가족을 소중히 여기는 그 마음이 정말 아름답네요.
                </p>                       
            <% } else if (result == 4 ) { %>
                <h1 class="result_title">두부</h1>
                <img src="../image/result_image/두부.JPG">
                <p class="result_text">
                    부드러운 당신! 친구에게 심한 말을 못하고 다른 사람에게 잘 맞추어주는 스타일인 것 같아요. 
                    그런 면 때문에 친구들이 당신을 더 좋아하는 것이겠죠. 
                    다른 사람을 위하는 마음이 언제까지고 계속될 수 있으면 좋겠어요.
                </p>                        
            <% } else if (result == 5 ) { %>
                <h1 class="result_title">멀티탭</h1>
                <img src="../image/result_image/멀티탭.JPG">
                <p class="result_text">
                    리더쉽 있는 당신! 당신은 멀티탭처럼 다른 친구들을 움직이게 만들어주는 원동력이에요. 
                    무언갈 주도적으로 하고 싶어하고 주체적인 모습을 보이지요. 
                    당신의 동료들과 친구들은 그런 당신의 모습을 정말 멋있게 생각할 거에요.
                </p>            
            <% } else if (result == 6 ) { %>
                <h1 class="result_title">사이다</h1>
                <img src="../image/result_image/사이다.JPG">
                <p class="result_text">
                    올곧은 당신! 당신이 하는 말들은 사이다 같이 청량하고 시원한 말들일 것이네요. 
                    과감하게 정의와 옳은 일에 대해 말하는 당신의 대나무 같은 성품이 
                    더 나은 세상을 만드는 원동력이 될 것이라고 믿어 의심치 않아요.
                </p>            
            <% } else if (result == 7 ) { %>
                <h1 class="result_title">크림빵</h1>
                <img src="../image/result_image/크림빵.JPG">
                <p class="result_text">
                    올곧은 당신! 당신이 하는 말들은 사이다 같이 청량하고 시원한 말들일 것이네요. 
                    과감하게 정의와 옳은 일에 대해 말하는 당신의 대나무 같은 성품이 
                    더 나은 세상을 만드는 원동력이 될 것이라고 믿어 의심치 않아요.
                </p>                 
            <% } else if (result == 8 ) { %>
                <h1 class="result_title">크림빵</h1>
                <img src="../image/result_image/크림빵.JPG">
                <p class="result_text">
                    무뚝뚝한 당신! 하지만 크림빵처럼 겉은 딱딱해도 속은 부드러운 사람일 거에요. 
                    다소 화가 날 때도 많고 표현 못할 때도 많지만 당신의 그 따뜻한 마음이 저의 눈엔 보여요. 
                    사람들이 당신의 아름다운 마음을 알아볼 수 있도록 늘 응원할게요.
                </p>                 
            <% } %>
        </div>
    </div>
    
</body>
</html>