<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나 마트에 있어.. 나를 찾아줘</title>
    <link rel="stylesheet" href="/index.css">
    
</head>
<body>
    <div class="index_main">
        <div>
            <div class="document">
            <img src="/image/document.png">
            </div>
            <div class="start_page">
                내가 마트에 간다면, 어떤 물건이 될까?
            </div>
        </div>
        <button class="quest_start" onclick=location.href='/play'>시 작 하 기</button>
    </div>
</body>
</html>