@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    *{
        font-family: 'MaplestoryOTFBold';
        margin: 0;
        padding: 0;
    }
    body{
        background-color: darkgray;
        background-repeat : no-repeat;
        background-size : cover;
        border-radius: 40px;
    }
    .question_main{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 20px;
        margin-top: 10%;
        background-image: url('../back/content_back.jpg');
        background-color: #ffffff;
    }
    .select{
        background-color: blanchedalmond;
        text-align: left;
        vertical-align: auto;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 10px;
        vertical-align: center;
        align-self: center;
    }
    .question_header{
        text-align: center;
        text-size-adjust:initial;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .question_num{
        text-align: center;
    }
    .question_contents{
        background-color: #ffffff;
        width: 80%;
        padding: 10px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
    }
    .item{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 20px;
        height: 64px;
        line-height: 64px;
        font-size: 20px;
        font-weight: 600;
        border: none;
        color: #747474;
        background: #ffffff;
        border-radius: 8px;
    }
    .submit{
        width: 80%;
        height: 64px;
        line-height: 64px;
        margin-top: 2%;
        font-size: 16px;
        font-weight: 200;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 3%;
        border: 5px;
        color: #fff;
        background: #8dda9e;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 20px;
    }
    .textbox{
        text-align: center;
        width: 100%;
        height: auto;
        margin-top: 2%;
        border-radius: 20px;
        line-height: normal;
        padding: .8em .5em;
        /* border: 1px solid #d9d9d9; */
        /* background: #fff; */
        border-radius: 0;
        outline-style: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .input{
        padding: 10px;
        width: 80%;
        font-size: 20px;
        margin-bottom: 2%;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0;;
        text-shadow: none;
        text-align: center;
        cursor: text;
        outline: none;
    }